.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        .cntMain{
            width: 100%;
            height: 25em;
            display: flex;
            align-items: center;
            justify-content: space-around;
            //border: 0.5px solid black;
            background-color: #364156;

                @media(min-width:768px){
                    height: 40em;

                }

                @media(min-width:1024px){
                    height: 50em;

                }

                .centralMain{
                    height: 24em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    @media (min-width: 768px){
                        display: flex;
                        flex-direction: column;
                        height: 37em;
                    }

                    @media (min-width: 1024px){
                        display: flex;
                        flex-direction: column;
                        height: 48em;
                    }
                
                        .central{
                            width: 19em;
                            height: 15em;
                            border: 1 solid black;
                            border-radius: 2px;
                            background-color: #cdcdcd;
                            box-shadow: 3px 3px #9292928e;
                        
                                @media(min-width: 768px){
                                    width: 45em;
                                    height: 25em;
                                }

                                @media(min-width: 1024px){
                                    width: 55em;
                                    height: 30em;
                                }
                        
                        }

                        .mainFooter{
                            width: 19em;
                            height: 7em;
                            border: 0.2 solid black;
                            background-color: #dff8eb;
                            border-radius: 2px;
                            box-shadow: 3px 3px #9292928e;

                                @media(min-width: 768px){
                                    width: 45em;
                                    height: 10em;
                                }

                                @media(min-width: 1024px){
                                    width: 55em;
                                    height: 15em;
                                }
                        }
                
                }

        }

}