.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        .cntHeader{
            width: 100%;
            //height: 2em;
            //border: 0.5px solid black;

                .boxHeader{
                    width: 100%;
                    //height: 2em;
                    display: flex;
                    flex-direction: column;
                    //padding: 5px 5px;

                        .cntNavbar{
                            //width: 100%;
                            //height: 2.6em;
                            //border: 0.5px solid #c8d96f;
                        
                                .navbar{
                                    width: 100%;
                                    height: 4em;
                                    position: fixed;
                                    z-index: 101;
                                    background-color: #011638 !important;
                                    color:white;

                                        .container-fluid{
                                            background-color: #011638 !important;
                                            text-align: center;
                                        }
                                
                                        .navbar-toggler{
                                            color: white !important;
                                            border-color: 2px solid #214e34 !important;
                                            background-color: #364156;
                                            
                                        }

                                        .boxIcon{
                                            width: 2em;
                                            height: 1.5em;
                                            background-color: #011638 !important;
                                            margin-left: 2em;

                                                .iconWTF{
                                                    width: 2em;
                                                    height: 1.5em;
                                                }
                                        }

                                        .nav-link{
                                            color: white;
                                        }
                                }

                        }
                }

        }
    }        